body{
    margin: 0;
    padding: 0;
    background-color: rgb(249, 252, 240);
    display: flex;
    justify-content: center ;
    font-family: Arial, Helvetica, sans-serif;
}
.container1{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.container1 h1{
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
}
.contflex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0;
    margin: 0;
}
.contflex h2{
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 0;
}
.contflex h3{
    margin: 0;
    font-size: 2.5rem;

}

.incomeside {
    padding-right: 40px;
    border-right: 2px solid rgba(0, 0, 0, 0.2);
}
.incomeside h3{
    color: rgb(18, 171, 18);
}
.expenseside h3{
    color: red;
}
.expenseside {
    padding-left: 40px;
}
.smallcont{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
}
.container2 {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.history h1{
    font-size: 1.5rem;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2) ;

}
.history ul{
    margin: 0;
    padding: 0;
}
.cuthistory{
    background-color: red;
    padding: 5px 10px;
    border: none;
    outline: none;
    cursor: pointer;
    color: black;
    
}
.history li{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-size: 1.5rem;
}
label{
    display: inline-block;
    margin: 20px 0;
    font-size: 1.5rem;
    font-weight: 600;
}
input[type="text"],input[type="number"]{
    display: block;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 3px;
    width: 100%;
}
.btn{
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    background-color: #a38fff;
    margin: 20px 0px;
    color: rgb(255, 255, 255);
    width: 100%;
}
.green{
    color: green;
}
.red {
    color: red;
}
.text{
    text-transform: uppercase;
}